{{>head}}

<body>
    <div class="main-content">
        {{>header}}
        <p>The basic weather site was created by Adigun Olugbenga (AceOluwapelumi)</p>
        <p>It uses data from mapbox.com and openweatherapi.com</p>
        <img class="potrait" src="assets/images/AceOluwapelumiNameLogo.jpg" alt="">

    </div>
    {{>footer}}
</body>

</html>