{{>head}}
<body>
    <div class="main-content">
        {{>header}}
    
        <form action="">
            <input placeholder="location" type="text">
            <button>Search</button>
        </form>

       <p id="message-1"></p> 
       <p id="message-2"></p>
    </div>
    
    {{>footer}}
</body>
</html>